@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');


*{
    font-family: 'Nanum Myeongjo', serif;
}


.mainC{
    background: rgb(116,68,49);
background: linear-gradient(90deg, rgba(116,68,49,1) 19%, rgba(61,37,36,1) 62%);
}

/* .fontS{
    font-family: 'Bad Script', cursive;
} */